*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #000 !important;
    color: rgb(76, 255, 76) !important;
    outline: solid #f00 1px !important; */
}

.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}

.about-col img{
	width: 50%;
}

.backgroundmain{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FAFAF7;
    background-size: cover;
    overflow-y: scroll;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 999; /* Ensure the overlay is above other content */
    opacity: 1; /* Initially invisible */
    backdrop-filter: blur(0px); /* Apply blur effect */
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease; /* Smooth transition */
}

.banimg {
    margin: auto;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    width: 80vmin;
}

.BarangayLogo{
    width: 400px;
    cursor: default;
}

.borderticket{
    position: relative;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    background-color: #f2f5ee;
    border: transparent;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
	justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.borderticket h2{
    margin-top: 20px;
    text-align: center;
}

.borderticket p{
    font-size: medium;
    text-align: center;
}

.borderticket button{
    font-size: medium;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
}

.border2{
    width: 750px;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    background-color: #fff;
    border: 2px solid #32524b;
}

.border2 p{
    margin-top: 10px;
}

.borderform{
    width: 50vmax;
    min-width: 25vmin;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    background-color: #fff;
    border: 3px solid #316e60;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.borderform p{
    font-size: medium;
}

button{
    margin-top: 20px;
    width: 180px;
    padding: 8px 0;
    text-align: center;
    color: #d6edd7;
    font-weight: 600;
    background-color: #4a6a58;
    border-radius: 10px;
    border: transparent;
}
button:hover{
    background-color: rgb(195, 226, 195);
    color: #243e38;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.cbback{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.cbback h5 a{
    color: rgb(27, 29, 28);
}

.cbback h5 a:hover{
    color: rgb(55, 61, 145);
}

.content{
    margin: auto;
    margin-left: 20%;
    margin-top: 5%;
    transform: translateY(30%);
    position: absolute;
    text-align: left;
    color:#243e38;
}
.content h1{
    font-size: 30px;
    font-weight: bolder;
}
.content p{
    margin-top: 15px;
    font-weight: 100;
}

/*.content2{
    position: absolute;
    width: 100%;
    margin-top: 5%;
    font-size: 130%;
    text-align: center;
    color:#294941;
    animation: fadeIn 3s;
}*/

/*.content2 p{
    margin: 1rem;
}*/

.content3{
    width: 100%;
    margin-top: 2%;
    font-size: 130%;
    position: absolute;
    text-align: center;
    color:#294941;
}

.content4{
    width: 100%;
    margin-top: 2%;
    font-size: 120%;
    position: absolute;
    text-align: center;
    color:#294941;
}

.content4 h2{
    font-size: 120%;
}


.fade-out {
    animation: fadeOut 1s;
}

.form{
    margin-top: 5px;
    font-size: medium;
}

.form p{
    margin-top: 25px;
}

.form hr{
    height: 3px;
    background-color: #32524b;
}

.highlight{
    height: 100px;
    background: linear-gradient(to left, #eef1f6, #d7ece0) 0 25% / 100% no-repeat;
}

.imagebtn{
    width: 300px;
    height: 25px;
    background-color: transparent;
    margin-top: 3px;
    color: #285c50;
    font-size: 15px;
    border: 3px solid #316e60;
    border-radius: 5px;
    border-width: 2px;
}

/*.imageform{
    width: 750px;
    height: 150px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    background-color: transparent;
    border: 3px solid #316e60;
    border-radius: 5px;
}*/

.indexinput{
    text-align: left;
    margin-left: 5rem;
}

.inputname{
    width: 30%;
    height: 25px;
    font-size: 15px;
}

.inputline{
    width: 25%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #243e38;
    text-align: center;
    font-weight: bold;
}

.Logo{
    position: relative;
    margin-left: 1%;
    width: 230px;
    cursor: default;
}

.mainsub{
    width: 55%;
    max-width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #243e38;
    text-align: center;
    font-size: 2vmin;
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
  }

@media (max-width: 768px) {
    .borderform {
        width: 40vmax;
    }
    .borderticket{
        width: 40vmax;
    }
    .border2{
        width: 42vmax;
        font-size: 18px;
        text-align: justify;
    }
    .indexinput{
        margin-left: 3rem;
    } 
    .navbar{
        font-size: 15px;
    }
}

.myMargin {
    margin: 1rem;
}

.navbar{
    width: 100%;
    margin: auto;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A8C6A3;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    font-size: 4.5vmin 7vmax;
}
.navbar ul li a{
    content: '';
    font-size: 17px;
    padding: 15px 10;
    text-decoration: none;
    color: #34574f;
    text-transform: uppercase;
    transition: 0.6s;
    position: relative;
    border-radius: 10%; 
}
.navbar ul li a:hover, .navbar ul li a:focus{  
    color: #7d7352; 
    cursor: pointer; 
}

.popup-form{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130%;
    text-align: center;
    padding: 20px;
    border: 2px solid #777d78;
    border-bottom: transparent;
    border-radius: 10px;
    z-index: 1000;
    color:#294941;
    background: linear-gradient(to bottom, #fff, #e8f1e7, #c3d9ce, transparent);
    animation: fadeIn 1s;
    transition: opacity 0.5s ease;
}

/*.row{
    flex-direction: column;
    display: flex;
	justify-content: space-between;
}*/

.space{
    font-size: large;
    color: #285c50;
}

.spacemain{
    font-size: 15px;
    color: #285c50;
    text-align: left;
}

.square-button {
    width: 60px;
    height: 50px;
    padding: 0;
}

.submitbtn{
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    background-color: #294941;
    color: #d6edd7;
    font-size: 15px;
    border-radius: 5px;
}

textarea{
    margin-top: 5px;
    resize: none;
    font-size: 15px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #243e38;
}

.ticketinput{
    height: 20px;
    width: 45%;
    margin-top: 10px;
    border-radius: 3px;
    font-size: medium;
}
